name: Rust

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build debug
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Build release binary
        run: |
          cargo build --release --verbose
          mv target/release/ ./ssh-tui

      - name: Upload artifact (optional)
        uses: actions/upload-artifact@v4
        with:
          name: linux-x86_64-binary
          path: ./my-app

      - name: Create/Update Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          files: ./my-app
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
